*,*:before,*:after{
    padding:0;
    margin:0;
    box-sizing: inherit;
}
html{
   font: 14px/1.5 Georgia,sans-serif;
   box-sizing: border-box;
}






h1,h2,h3,h4,h5,h6{
    font-size:1em;
    margin-bottom:0.5em;
    font-weight: normal;
}






h1{font-size:2.8em;}
h2{font-size:2em;}
h3{font-size:1.6em;}
h4{font-size:1.4em;}
h5{font-size:1.2em;}
h6{font-size:1em;}



p, ul, ol{
    padding-bottom: 1.5em;
}

ul ol {
    padding-left:2em;
}


.site{
    max-width: 64rem;
    margin:0 auto;
    padding:2em 4em;
    /* background:green; */
}
.site-header{
    display:flex;
    align-items: center;
    padding-bottom: 2em;
}

.site-title {
    margin:0;
    padding:0;
    font-size:2.5em;
    font-weight: normal;
    letter-spacing: 0.08em;
}

.nav{
    display:block;
    margin-left:auto;
}


.nav ul{
    padding:0;
    margin:0;
}
.nav> ul >li{
    padding:0 0.5em;
}
.nav > ul > li> a{
    padding:0.5em 1em;
    outline:none;
}
.nav > ul > li> a:focus,
.nav > ul > li> a:hover{
    background:#000;
    color:#369;
}
.nav > ul > li> a:focus{
    text-decoration: underline;
}
.nav-toggle{
opacity: 0;
pointer-events: none;
position: absolute;
}

/* .nav-togglе-button{ */
    /* display:none; */
    

/* } */




@media(max-width:600px){


    .nav-togglе-button{
        display:block;
        margin-left:auto;
    }

    
 .nav-toggle:checked + .site-header .nav{

  display:block;
 }
        

.nav-toggle + .site-header{
    display: block;
}
nav>ul{
    display:block;
}
.nav-toggle + .site-header {
    display:block;
}
    }

.nav li{
display:block;
list-style: none outside;
padding:0 0.5em;
}


.nav>ul {
    display:flex;
}

nav a{
    background:#369;
    color:#fff;
    border-radius: 0.3em;
line-height: 1;
}

a{
    display:block;
    text-decoration: none;
color:#369;
}




